*{
    box-sizing: border-box;
}

body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* --------------------------------------------- */

.all{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 70%;
    width: 25%;
}

.welcome{
    font-size: xx-large;
    margin: 0.5rem auto;
}

.avatar{
    margin: 0.5rem auto;
    width: 8rem;
    border-radius: 5rem;
}

.input{
    border: none;
    border-bottom: solid gray 2px;
    outline: none;
    width: 65%;
    margin: 0.8rem auto;
}

.login-button{
    width: 62%;
    height: 1.65rem;
    background-color: rgb(111, 181, 84);
    color: white;
    border: none;
    outline: none;
    border-radius: 1rem;
    margin: 0.8rem auto;
}

.forgot-password{
    margin-top: 4rem;
    font-size: small;
    color: rgba(99, 95, 95, 0.89);
}

.sign-up{
    font-size: small;
    color: rgba(99, 95, 95, 0.89);
}

.sign-up > a{
    text-decoration: none;
    color: rgb(111, 181, 84);
}